{
    "extends": [
        "standard"
    ],
    "parser": "babel-eslint",
    "rules": {
        "prefer-const": [
            "error",
            {
                "destructuring": "any",
                "ignoreReadBeforeAssign": false
            }
        ]
    },
    "globals": {
        "fetch": true,
        "Headers": true
    }
}